html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2C4947;
}

#header {
  width: 200px;
  margin-left: 5px;
}

#menu {
  position: absolute;
  top: 5px;
  right: 0;
}

#trees {
  position: absolute;
  width: 1200px;
  margin-left: -600px;
  margin-right: -600px;
  display: block;
  left: 50%;
  right: 50%;
  overflow: auto;
}
