html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2C4947;
}

#header {
  width: 200px;
  margin-left: 5px;
}

#menu {
  position: absolute;
  top: 5px;
  right: 0;
}
