html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

header {
  background-color: #2C4947;
}

h1 {
  font-family: 'Rokkitt', serif;
  font-weight: normal;
  margin-right: 20px;
  margin-left: 20px;
  color: darkslategray;
  font-size: 28pt;
}

h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14pt;
  text-align: center;
  color: #709B4B;
  font-weight: bold;
}

h3 {
  font-family: 'Rokkitt', serif;
  color: white;
  text-align: center;
  margin: 15px;
  margin-top: 0;
  font-weight: normal;
  font-size: 20px;
  line-height: 1.5;
}

h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 10pt;
  text-align: center;
  color: white;
  font-weight: normal;
  margin-left: 35px;
  margin-right: 35px;
  margin-top: 7px;
  line-height: 1.75;
}

p {
  font-family: 'Rokkitt', serif;
  margin-right: 25px;
  margin-left: 25px;
  font-weight: normal;
  line-height: 1.5;
  color: gray;
  font-size: 16pt;
}

hr {
  margin-top: 100px;
  margin-bottom: 40px;
  opacity: 0.5;
}

#header {
  width: 200px;
  margin-left: 5px;
}

#menu {
  position: absolute;
  top: 5px;
  right: 0;
}

#home_screen {
  height: 500px;
}

#trees {
  position: absolute;
  width: 900px;
  margin-left: -450px;
  margin-right: -450px;
  display: block;
  left: 50%;
  right: 50%;
  overflow: auto;
  z-index: 2;
}

#lake {
  width: 900px;
  position: absolute;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  overflow: auto;
  display: block;
  z-index: 1
}

#mountains {
  width: 900px;
  position: absolute;
  margin-right: -450px;
  margin-left: -450px;
  right: 50%;
  left: 50%;
  overflow: auto;
  display: block;
  z-index: 0
}

#hero {
  position: relative;
  z-index: 3;
  width: 225px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  top: 40px;
}

#date {
  position: relative;
  z-index: 3;
  width: 150px;
  top: 110px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#aiga_div {
  background-color: #536563;
  padding-top:2px;
  height:61px;
  width:100%;
  position: relative;
}

#aiga {
  display: block;
  margin: 0 auto;
  width: 260px;
  height: 57px;
}

#button_lines {
  display: block;
  position: absolute;
  overflow: auto;
  width: 470px;
  left: 50%;
  right: 50%;
  margin-right: -235px;
  margin-left: -235px;
  margin-top: 100px;
}

#bird_section {
  position: relative;
}

#bird {
  display: block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 95px;
  width: 50px;
}

#register_bird {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: block;
  margin: 0 auto;
  position: relative;
  top: 95px;
  background-color: #6BA235;
  font-size: 12pt;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 25px;
  border: 0px solid;
  z-index: 1;
  font-weight: bold;
}

#dashes {
  margin: 5px;
  margin-top: 75px;
  margin-bottom: 75px;
  background-image: url("./assets/part_2/dash-horizontal.png");
  height: 5px;
}

#wood_grain {
  background-image: url("./assets/part_3/board.jpg");
}

#event {
  width: 300px;
  margin-top: 75px;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  padding-top: 75px;
}

#fire_img {
  display: block;
  right: 50%;
  left: 50%;
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 75px;
  margin-bottom: 75px;
}

#last_event {
  padding-bottom: 100px;
}

#light_blue {
  background: #CAECF8;
}

#faq {
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

#treehouse {
  width: 400px;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

#sunset {
  width: 900px;
  margin-left: -450px;
  margin-right: -450px;
  display: block;
  left: 50%;
  right: 50%;
  overflow: auto;
  position: relative;
}

#faq_list {
  list-style-type: none;
  color: #603812;
  font-family: 'Rokkitt', serif;
  font-size: 16pt;
  display: inline-block;
  padding-left: 0px;
  line-height: 2.5;
}

#register_end {
  position: relative;
  height: 850px;
}

#hills {
  width: 900px;
  display: block;
  position: absolute;
  right: 50%;
  left: 50%;
  margin-left: -450px;
  margin-right: -450px;
  top: 560px;
  z-index: 1;
}

#signpost {
  display: block;
  width: 200px;
  z-index: 2;
  position: relative;
  bottom: 300px;
  margin-left: auto;
  margin-right: auto;
}

.green_header {
  font-family: 'Rokkitt', serif;
  color: #6BA235;
  font-size: 52pt;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 100px;
}

.green_header::first-letter {
  font-size: 50%;
  vertical-align: super;
}

.center {
  text-align: center;
  margin-bottom: 50px;
}

.speaking_topics {
  margin-left: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: auto;
  display: block;
  width: 200px;
}

.brown {
  color: saddlebrown;
  text-align: center;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 10px;
  font-size: 12pt;
}

.yellow {
  color: goldenrod;
  font-size: 36pt;
  text-align: center;
  margin-bottom: 5pt;
}

.circle:first-line {
  font-size: 30pt;
}

.circle {
  line-height: 1.2;
  border: solid tomato;
  border-radius: 50%;
  width: 80px;
  margin-left: auto;
  padding: 3pt;
  margin-right: auto;
}

.circle_div {
  height: 95px;
  margin-top: 60px;
}

.events {
  color: white;
  font-weight: normal;
  font-size: 16pt;
  margin-bottom: 5px;
}

.bullet_lists {
  background: url("./assets/part_4/plus.png") no-repeat left 3px;
  list-style-type: none;
  color: #603812;
  font-family: 'Rokkitt', serif;
  font-size: 16pt;
  display: inline-block;
  padding-left: 55px;
  margin-right: 20px;
  line-height: 2.5;
  margin-left: 10px;
}
